.friends{
    grid-column: 2;
    grid-row: 2;
    background-color: #fff8ca;
    padding: 20px;
}
.friendsTitle{
    margin: 0;
    text-align: center;
}
.friendsList{
    display: flex;
    flex-direction: column;
    padding: 0;
}
.friends ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}