.sendForm{
    display: flex;
    padding-bottom: 30px;
}
.sendForm .textField{
    flex-grow: 1;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    min-height: 50px;
    resize: none;
}
.sendForm .btnSubmit{
    margin: 0 0 0 10px;
    font-size: 20px;

}