@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
.wrapper{
  display: grid;
  grid-template-columns: 1100px 200px;
  grid-template-rows: auto;
  justify-content: center;
  gap: 5px;
}
.content{
  grid-column: 1;
  grid-row: 2;
  background-color: #e5e5e5;
  min-height: 500px;
  padding: 30px;
}
