.box{
  display: grid;
  width: 1300px;
  margin: 0 auto;
  gap: 5px;
}
.gridItem {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
.main{
  grid-column: 1 / span 1;
  grid-row: 2;
  background-color: coral;
  width: 1100px;
  min-height: 500px;
}
a{
  text-decoration: none;
}
ul{
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  width: 400px;
}