.dialogs{
    display: grid;
    grid-template-columns: 140px 900px;
    height: 100%;
}
.dialogsItems{
    grid-column: 1;
    background-color: #fff8ca;
}
.messages{
    grid-column: 2;
}
.dialogsItems ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.dialogs textarea{
    width: 100%;
    margin-left: 30px;
}

.dialogsItems a{
    font-weight: normal;
}
.dialogs .sendForm{
    grid-column: 2;
}

.sendForm{
    display: flex;
    padding-bottom: 30px;
}
.sendForm .textField{
    flex-grow: 1;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    min-height: 50px;
    resize: none;
}
.sendForm .btnSubmit{
    margin: 0 0 0 10px;
    font-size: 20px;
}